<!--English NOTES!!!!-->
<head>
		<title>English Notes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!-- Compiled and minified JavaScript -->
  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
<body>
 
 <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator responsive-img eng" src="https://i.pinimg.com/originals/d8/a0/d4/d8a0d444d49d545219a023b869b22bc3.jpg" width = 700 height = 1140 >
      </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">English Notes 8/23/2019<i class="material-icons right"></i></span>
      <p><a href="https://www.vocabulary.com/lists/251309">Check out this site</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><h1>
          More Information
      </h1><i class="material-icons right">close</i></span>
      <h2> Today Ms.Kim went over how vocabulary has changed over time. We also analyzed some poetry. Hope my notes help and feel free to contact me with any questions at 347-555-5555</h2>
    </div>
    </div>
    
  
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator responsive-img eng" src="https://i.pinimg.com/originals/4e/ba/f9/4ebaf9e3d1c2c1a1ab77b5f844331e4d.jpg" width = 700 height = 1140 >
      </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">English Notes 8/22/2019<i class="material-icons right"></i></span>
      <p><a href="https://www.panmacmillan.com/blog/march-2016/inspiring-poems-by-female-poets">Check out this site</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><h1>
          More Information
      </h1><i class="material-icons right">close</i></span>
      <h2> Today Ms.Kim went over poetry written by women. Hope my notes help and feel free to contact me with any questions at 347-555-5555</h2>
    </div>
    </div>

<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator responsive-img size eng" src= "https://i.pinimg.com/originals/02/43/3f/02433f70eb425e72207f3dde48523691.jpg" height = 150 width = 100>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">English Notes 8/21/19<i class="material-icons right"></i></span>
      <p> </p>
      <p><a href="https://medium.goodnotes.com/study-with-ease-the-best-way-to-take-notes-2749a3e8297b">Check out this site</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><h1> More Information </h1><i class="material-icons right">close</i></span>
      <h3>
         Today we learned how to take Cornell Notes. 
      </h3>
    </div>
  </div>
  
  
  </body>