<head>
		<title>FinTech Notes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!-- Compiled and minified JavaScript -->
  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>-->
	</head>
	<body>
	 <center>
	    <h1 style="font-size:40px;", class="fintechTitle">Fintech Notes</h1>
	  </center>
	  <!--function poster-->
      <div id = "cheese" class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator responsive-img tech" src= "../static/images/function.JPG" height = 150 width = 100>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Abby's "Function" Notes<i class="material-icons right"></i></span>
      <p> </p>
      <p><a href="https://www.datacamp.com/community/tutorials/functions-python-tutorial?utm_source=adwords_ppc&utm_campaignid=1565261270&utm_adgroupid=67750485268&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=1t1&utm_creative=295208661502&utm_targetid=dsa-473406571355&utm_loc_interest_ms=&utm_loc_physical_ms=9009970&gclid=CjwKCAjwm4rqBRBUEiwAwaWjjH14GBdQPumfB4zXseLPxHJEE3LHnSehaYT1cGZASXKx8B7tGhNO8BoC9V8QAvD_BwE">Check out this site</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><h1> More Information </h1><i class="material-icons right">close</i></span>
      <h3>
         Abby made a super cute poster to help us understand the parts of function.
      </h3>
    </div>
  </div>
  
  
  <!--command line note card-->
  <div class="card ">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator responsive-img tech" src= "../static/images/commandLine.JPG" height = 150 width = 100>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Abby's "command line" Notes<i class="material-icons right"></i></span>
      <p> </p>
      <p><a href="https://www.pythonforbeginners.com/system/python-sys-argv">Check out this site</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><h1> More Information </h1><i class="material-icons right">close</i></span>
      <h3>
         Abby made a super cute poster to help us understand how to use command line.
      </h3>
    </div>
  </div>
  
  <div class="card ">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator responsive-img tech" src= "../static/images/mongo.JPG" height = 150 width = 100>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Abby's "mongo" Notes<i class="material-icons right"></i></span>
      <p> </p>
      <p><a href="https://api.mongodb.com/python/current/tutorial.html">Check out this site</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><h1> More Information </h1><i class="material-icons right">close</i></span>
      <h3>
         Abby made a super cute poster to help us understand how to use mongo.db
      </h3>
    </div>
  </div>
  
  
  </body>