<head>
		<title>FinTech Notes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!-- Compiled and minified JavaScript -->
  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>-->
	</head>
	<body>
	  
	  <!--function poster-->
      <div id = "cheese" class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator responsive-img tech" src= "../static/images/function.JPG" height = 150 width = 100>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Abby's "Function" Notes<i class="material-icons right"></i></span>
      <p> </p>
      <p><a href="https://www.mathwarehouse.com/unit-circle/graph-and-formula-unit-circle.php">Check out this site</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><h1> More Information </h1><i class="material-icons right">close</i></span>
      <h3>
         Abby made a super cute poster to help us understand the parts of function.
      </h3>
    </div>
  </div>
  
  
  <!--command line note card-->
  <div class="card ">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator responsive-img tech" src= "../static/images/commandLine.JPG" height = 150 width = 100>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Abby's "command line" Notes<i class="material-icons right"></i></span>
      <p> </p>
      <p><a href="https://www.mathwarehouse.com/unit-circle/graph-and-formula-unit-circle.php">Check out this site</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><h1> More Information </h1><i class="material-icons right">close</i></span>
      <h3>
         Abby made a super cute poster to help us understand how to use command line.
      </h3>
    </div>
  </div>
  
  <div class="card ">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator responsive-img tech" src= "../static/images/mongo.JPG" height = 150 width = 100>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Abby's "mongo" Notes<i class="material-icons right"></i></span>
      <p> </p>
      <p><a href="https://www.mathwarehouse.com/unit-circle/graph-and-formula-unit-circle.php">Check out this site</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><h1> More Information </h1><i class="material-icons right">close</i></span>
      <h3>
         Abby made a super cute poster to help us understand how to use mongo.db
      </h3>
    </div>
  </div>
  
  
  </body>