<head>
		<title>Math Notes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!-- Compiled and minified JavaScript -->
  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body>
	  <center>
	    <h1 style="font-size:40px;", class="mathTitle">Math Notes</h1>
	  </center>
	  
      <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator responsive-img math" src= "https://i.pinimg.com/originals/84/7b/35/847b35c4e4f2ca3aa48d7387ac5ed87a.jpg" height = 600 width = 400>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Mr. Liberal 8/23/19 Notes<i class="material-icons right"></i></span>
      <p> </p>
      <p><a href="https://www.mathwarehouse.com/unit-circle/graph-and-formula-unit-circle.php">Check out this site</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><h1> More Information </h1><i class="material-icons right">close</i></span>
      <h3>
         Ms. Liberal is going over varies calculus methods like methods of integration, riemann sums, and trig substitution. Please refer to the notes to see the basic's of graphing and finding degrees, so you won't be behind.
          
      </h3>
    </div>
  </div>
  </body>









<head>
		<title>Math Notes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!-- Compiled and minified JavaScript -->
  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body>
      <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator responsive-img math" src= "https://i.pinimg.com/originals/5b/49/f5/5b49f58cad127a618a2f34d0d027a613.jpg" height = 600 width = 400>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Ms. Silvia's 1/10/19 Notes<i class="material-icons right"></i></span>
      <p> </p>
      <p><a href="https://www.mathwarehouse.com/unit-circle/graph-and-formula-unit-circle.php">Check out this site</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><h1> More Information </h1><i class="material-icons right">close</i></span>
      <h3>
         Ms. Silvia is going over vector calculus. Please refer to the notes to see detailed definitions and refrences to todays class, so you won't be behind.
          
      </h3>
    </div>
  </div>
  </body>
  
  
  
  <head>
		<title>Math Notes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!-- Compiled and minified JavaScript -->
  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body>
      <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator responsive-img math" src= "https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Falgebra1resources.files.wordpress.com%2F2018%2F10%2Fmath-note-taking.jpg" height = 600 width = 400>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Ms. Bienstocks's 8/23/19 Notes<i class="material-icons right"></i></span>
      <p> </p>
      <p><a href="https://www.mathwarehouse.com/unit-circle/graph-and-formula-unit-circle.php">Check out this site</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><h1> More Information </h1><i class="material-icons right">close</i></span>
      <h3>
         Ms. Bienstock is going to start going over how to graph the degrees on the unit circle. Please refer to the notes to see the basic's of graphing and finding degrees, so you won't be behind.
          
      </h3>
    </div>
  </div>
  </body>
  
  
  
  
  <head>
		<title>Math Notes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!-- Compiled and minified JavaScript -->
  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body>
      <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator responsive-img math" src= "https://i.pinimg.com/originals/66/fb/1c/66fb1cd1110bdd98b11260afe799b478.png" height = 600 width = 400>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Ms. Lopez's 4/17/19 Notes<i class="material-icons right"></i></span>
      <p> </p>
      <p><a href="https://www.mathwarehouse.com/unit-circle/graph-and-formula-unit-circle.php">Check out this site</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><h1> More Information </h1><i class="material-icons right">close</i></span>
      <h3>
         Ms. Lopez is going over statistical inference. Please refer to the notes to see deifinitions and outlines, so you won't be behind.
          
      </h3>
    </div>
  </div>
  </body>
  
  
  
  
  