<html>

<head>
    <title> FinTech University- Notes</title>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="style.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<nav>

    <!-- ICONS   -->
    <div class="nav-wrapper blue">
        <div class="container brand-logo">
            <a href="Logo.png" class="brand-logo"> Fintech Notes</a>
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/signup">Enroll</a>
                <center>
                    <<ahref="#"><i id="iconPencil" class="material-icons">border_color</i>Classes</a>
            </li>
            </center>
            <li><a href= "/math">Math Notes</a></li>
            <li><a href="/english">English Notes</a></li>
            <li><a href="/finTech">FinTech Notes</a></li>
            <li>|</li>
            <li><a href="/add">Uplaod your own notes here</a></li>
            <li>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </li>


    </div>
    </div>
    </div>
</nav>

 <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/r6uQGb9/young-people-education-and-school-asian-female-students-using-laptop-computer-phone-and-studying-at-home_v1u_sks7__F0000.png">
          <span class="card-title">Welcome</span>
        </div>
        <div class="card-content">
          <p><h2> Welcome to FinTech Notes! We hope you find everything you need on our website.Our goal is to help increase the sense of community at school as we, the students, are helping each other. Our mission is t help all students get notes from your fellow peers. This is an interactive site, so if your have any notes you want to contribute please do so below it would really benefit your classmates. </h2> </p>
        </div>
        <div class="card-action">
          <a href="/signup"><L><h2>  LOGIN </h2></L></a>
        </div>
      </div>
    </div>
  </div>
            


<!--<form method="POST" action="/add">-->
<!--    <label for="notesPicture">Please upload your notes here </label>-->
<!--    <input type="file" id="notes" name="notesPicture" accept="image/png, image/jpeg, image/JPG">-->
<!--    <label for="name"><h5>Name:</h5></label>-->
<!--    <input type="text" name="name" value="">-->
<!--    <label for="description"><h5>Please give a short synopsis:</h5></label>-->
<!--    <input type="text" name="description" value="">-->
<!--    <input type="submit" value="Submit">-->
<!--</form>-->
</nav>
</body>

</html>
