<!DOCTYPE HTML>

<head>

</head>

<body>
    <h2>Select a file to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
    </p>
    <form class = "page" method="POST" action="/add" enctype="multipart/form-data"> 
        <label for="file">Please upload your notes here </label>
        <input type="file" id="file" name="file" autocomplete="off" required>
        <label for="name"><h5>Name:</h5></label>
        <input type="text" name="name">
        <label for="description"><h5>Please give a short synopsis:</h5></label>
        <input type="text" name="description">
        <input type="submit" value="Submit">
    </form>

</body>
o